/* some colors you may find useful:
  #115ff4
  #060ce9
  #28a200
  #8d2ab5
  #74119c
*/

body {
  font-family: sans-serif;
  background: #222;
  color: white;
  font-size: 2vw;
  text-align: center;
  padding: 1em;
  background: linear-gradient(180deg, #2E2E3A 0%, #0C0C2C 100%);
}